<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
    <title>Listings</title>
</head>
<body>
<a href="/">Home</a>
<h1>Listing</h1>
<div class = "listingsContainer">
	<table id ="listingsTable">
		<script>
			
			var title = window.location.href.substring(window.location.href.indexOf("?") + 1)
			title = title.replace("%20", " ");
			var table = document.getElementById("listingsTable");
			var listing = getListing(title);
			var seller = getFullName(listing.Email);
			var tags = getTags(title);
				
			var row = table.insertRow(-1);
			var row2 = table.insertRow(-1);
			var row3 = table.insertRow(-1);
			var row4 = table.insertRow(-1);
			var row5 = table.insertRow(-1);
			var row6 = table.insertRow(-1);
			var row7 = table.insertRow(-1);
			
				
			row.innerHTML = "Title: " + title;
			row2.innerHTML = "Description: " + listing.Description;
			row3.innerHTML = "Price: " + listing.Price;
			var image = new Image();
			image.src = listing.Image;
			row4.appendChild(image);
			row5.innerHTML = "Tags: " + tags;
			row6.innerHTML = "Seller: " + seller;
			row7.innerHTML = "Rating: " + getSeller(listing.Email).Rating;
			if (getCurrentUser() != "no user" && getCurrentUser() == listing.Email){
				var row8 = table.insertRow(-1);
				var button = document.createElement('BUTTON');
				button.onclick = function (){
					const http = new XMLHttpRequest();
					http.open("DELETE", "/listing/delete" + title, false);
					http.send();
					alert("Deleted Listing");
					window.location = "/listings?";
				}
				var text = document.createTextNode("Delete Listing");
				button.appendChild(text);
				row8.appendChild(button);
			}
		</script>
	</table>
</div>
</body>
</html>