<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
    <title>Listings</title>
</head>
<body>
<a href="/">Home</a>
<h1>Profile</h1>
<div class = "profileContainer">
	<table id ="profileTable">
		<script>
			var user = getCurrentUser();
			var userData = getSeller(user);
			var table = document.getElementById("profileTable");
				
			var row = table.insertRow(-1);
			var row2 = table.insertRow(-1);
			var row3 = table.insertRow(-1);
			var row4 = table.insertRow(-1);
			var row5 = table.insertRow(-1);
			var row6 = table.insertRow(-1);
			var row7 = table.insertRow(-1);
				
			row.innerHTML = "User: " + userData.firstName + " " +  userData.lastName;
			row2.innerHTML = "Email: " + userData.email;
			row3.innerHTML = "Address: " + userData.address;
			row3.innerHTML = "Rating: " + userData.Rating;
		</script>
	</table>
</div>
</body>
</html>